<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_business_category"
        name="Business Categories"
        parent="sale.menu_sale_config"
        action="action_business_category"
        sequence="30"/>

    <menuitem id="menu_rental_orders"
        name="Rental Orders"
        parent="sale.sale_order_menu"
        action="action_rental_orders"
        sequence="2"/>

    <menuitem id="sale_rental.sale_rental_menu" 
        parent="sale.sale_order_menu"
        action="sale_rental.sale_rental_action"
        sequence="3"/>

    
</odoo>